.background {
    background-image: url('https://i.ibb.co/WWhcRPP/models.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.background1 {
    background-image: url('https://i.ibb.co/s9WPNBF/models1.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.background2 {
    background-image: url('https://i.ibb.co/7VCcS0D/models2.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.background3 {
    background-image: url('https://i.ibb.co/QnZkTdw/models3.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.background4 {
    background-image: url('https://i.ibb.co/wzV2x6y/models4.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
}